.university-card {
  max-width: 400px;
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actions-section {
  padding-top: 10px;
  display: flex;
}

.default-spacer {
  flex: 1 1 auto;
}
